[submodule "qtbase"]
	path = qtbase
	url = https://github.com/qt/qtbase.git
	branch = 6.4
[submodule "csm"]
	path = csm
	url = git@github.com:gabrielmougard/csm.git
[submodule "exiv2"]
	path = exiv2
	url = https://github.com/Exiv2/exiv2.git
	branch = main
