[submodule "csm"]
	path = csm
	url = git@github.com:gabrielmougard/csm.git
[submodule "ftxui"]
	path = ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
	branch = master
[submodule "mysql-client"]
	path = mysql-client
	url = https://github.com/mysql/mysql-connector-cpp
